<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>電子書APP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC440B0F20779ED400D54CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC440B2320779ED400D54CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC440B2E20779ED400D54CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
